{:paths ["src"]

 :deps {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        borkdude/sci {:mvn/version "0.1.1-alpha.1"}}

 :aliases
 {:+test {:extra-paths ["test"]
          :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
                       lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}}

  :+dev {:extra-paths ["dev"]
         :extra-deps {criterium {:mvn/version "0.4.5"}
                      meander/epsilon {:mvn/version "0.0.421"}
                      cheshire {:mvn/version "5.10.0"}}}

  :+cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}}}}}
