{:lint-as
 {matchete.core/defn-match clojure.core/defn
  matchete.core/fn-match clojure.core/fn}
 :linters
 {:unresolved-symbol
  {:exclude [(matchete.core/defn-match)
             (matchete.core/fn-match)]}
  :unsupported-binding-form
  {:exclude [(matchete.core/defn-match)
             (matchete.core/fn-match)]}}}
