{:lint-as
 {matchete.core/defn-match clojure.core/defn}
 :linters
 {:unresolved-symbol
  {:exclude [(matchete.core/defn-match)]}
  :unsupported-binding-form
  {:exclude [(matchete.core/defn-match)]}}}
