name: Check code style using clj-kondo

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: DeLaGuardo/clojure-lint-action@master
      with:
        clj-kondo-args: --lint src --lint test
        github_token: ${{ secrets.GITHUB_TOKEN }}
